# Environment Variables Template
# Copy this to .env in root directory (NOT for production - use Netlify dashboard instead)

VK_TOKEN=vk1.a.eZvEbyVQo2aLD4K-r_7DxudJLQ4iNke42CLOnxo-ewzkJhDCjgY-FFImW2JeNulCAByv9bzkSuo_VXZFEV1GbMGoTfjD_TlDUV_pfIIfXU2eJvNsYIVFvVRa7OQxAhzGJPle69aDCxH7jYlu-LbbfSLM-9ZVDiOkmo3zSdgiWYegoSqKJqtGAGoyldsJYC79Fc9up1aNsvk3uJ3NZaE6Xg
GROUP_ID=237363984
SUPABASE_URL=https://thqcgfhfqgjxttboydou.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocWNnZmhmcWdqeHR0Ym95ZG91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MTYxMzcsImV4cCI6MjA5MTk5MjEzN30.djMQ9jP23LQl9faFGpRZ2JJSdXPKqPyfVmh_2eMA-Y0
VK_CONFIRMATION_TOKEN=df7d544c
